
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before { content: "\e601"; }
.icon-more:before { content: "\e602"; }
.icon-arrow:before { content: "\e603"; }
.icon-return:before { content: "\e604"; }
.icon-checked:before { content: "\e607"; }
.icon-checked-s:before { content: "\e608"; }
.icon-info-block:before { content: "\e609"; }
.icon-success-block:before { content: "\e60a"; }
.icon-wran-block:before { content: "\e60b"; }
.icon-info:before { content: "\e60c"; }
.icon-success:before { content: "\e60d"; }
.icon-wran:before { content: "\e60e"; }
.icon-next:before { content: "\e60f"; }
.icon-prev:before { content: "\e610"; }
.icon-tag:before { content: "\e611"; }
.icon-tag2:before { content: "\e612"; }
.icon-tag-s:before { content: "\e613"; }
.icon-wran-lg:before { content: "\e614"; }
.icon-close:before { content: "\e615"; }
.icon-close-progress:before { content: "\e616"; }
.icon-close-page:before { content: "\e617"; }
.icon-emo:before { content: "\e618"; }
.icon-delete:before { content: "\e619"; }
.icon-collect:before { content: "\e61a"; }
.icon-search:before { content: "\e61b"; }
.icon-order:before { content: "\e600"; }
.icon-news:before { content: "\e61c"; }
.icon-center:before { content: "\e61d"; }
.icon-personal:before { content: "\e61e"; }
.icon-cart:before { content: "\e61f"; }
.icon-history:before { content: "\e620"; }
.icon-wallet:before { content: "\e621"; }
.icon-refresh:before { content: "\e622"; }
.icon-thumb:before { content: "\e623"; }
.icon-file:before { content: "\e624"; }
.icon-liked:before { content: "\e625"; }
.icon-hall:before { content: "\e626"; }
.icon-voice:before { content: "\e627"; }
.icon-like:before { content: "\e628"; }
.icon-unfold:before { content: "\e629"; }
.icon-totop:before { content: "\e62a"; }
.icon-share:before { content: "\e62b"; }
.icon-home:before { content: "\e62c"; }
.icon-pin:before { content: "\e62d"; }
.icon-star:before { content: "\e62e"; }
.icon-bugle:before { content: "\e62f"; }
.icon-trend:before { content: "\e630"; }
.icon-unchecked:before { content: "\e631"; }
.icon-unchecked-s:before { content: "\e632"; }
.icon-play-press:before { content: "\e633"; }
.icon-stop-press:before { content: "\e634"; }
.icon-play:before { content: "\e635"; }
.icon-stop:before { content: "\e636"; }
.icon-set:before { content: "\e605"; }
.icon-addgroup:before { content: "\e638"; }
.icon-addpeople:before { content: "\e639"; }
.icon-pc:before { content: "\e63a"; }
.icon-scan:before { content: "\e63b"; }
.icon-svip:before { content: "\e63c"; }
.icon-vip:before { content: "\e63d"; }
